*{
box-sizing: border-box;
}
.hero-section{
    /* border: 2px solid black; */
    min-height: 300px;
    margin-top: 35px;
    display: flex;
    max-width: auto;
    display: flex;
    flex-direction: row;
}
.text{
    /* border: 2px solid black; */
    height: 700px;
    width: 45%;
    text-align: center;
   margin-top: 25px;
   margin-left: 70px;
}
.text h1{
    margin-top: 20px;
    font-size: 60px;
    font-weight: 800;
}
.text h3{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.hero-section .text .ncc{
    /* border: 2px solid black; */
    height: 45px;
    width: 70%;
    margin-left: 50px;
    margin-top: 20px;
}
.hero-section .text .ncc img{
    size: 100%;
}
.hero-section .text .account{
    /* border: 2px solid black; */
    height: 75px;
    width: 60%;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgb(0,0,0);
    text-align: center;
    border-radius: 10px;
}
 .account h2{
    text-decoration: white;
    color: white;
    padding-top: 20px;
    font-size: 21px;
    font-weight: 500;
}
.image1{
    /* border: 2px solid black; */
    height: 700px;
    width: 50%;
    text-align: center;
   margin-top: 25px;
   margin-left: 50px;
}
.image1 img{
size: 100%;
}
.collab{
    margin-left: 180px;
    margin-top: -20px;
    text-align: center;
    border-radius: 10px;
}
.collab .collab-text h1{
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 1.7em;
}
.card1{
    padding-left:25px;
    
}
.card1 img{
    size: 100%;
    border-radius: 100%;
    padding-right: 2px;
}
.cardtext1{
    margin-top:0px;
    margin-left:24px;
}
.cardtext1, h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bolder;
}
 .cardtext2{
    margin-top: 0px;
    margin-left: 24px;
}
 .cardtext2 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: bolder;
}
.kuda-business{
    /* border: 2px solid black; */
    min-height:300px;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 180px;
    margin-left: 150px;
}
.kuda-b-text{
    /* border: 2px solid black; */
    height: 175;
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
}
.kuda-b-text h1{
    font-size: 33px;
    font-weight: bold;
}
.kuda-business2{
    /* border: 2px solid black; */
    height: 145;
    width: 400px;
    margin-top: 20px;
    margin-left: 120px; 
}
.kuda-business2 img{
    size: 100%;
}