*{
    box-sizing: border-box;
}
.text{
    border: 2px solid black;
    height: 105px;
    width: 65%;
    margin-left: 15%;
    margin-top: 85px;
    text-align: center;
    font-size: 3.5em;
    font-family: Times, serif;
    font-weight:1000px;
}
.text h1{
    margin-bottom: 30px;
    
}
 .account{
    border: 2px solid black;
    height: 55px;
    width: 25%;
    margin-left: 450px;
    margin-top: 30px;
    background-color: rgb(0,0,0);
    text-align: center;
    border-radius: 10px;
}
 .account h2{
    text-decoration: white;
    color: white;
    padding-top: 12px;
    font-size: 21px;
    font-weight: 500;
}
.registeration{
/* border: 2px solid black; */
width: 50%;
height: 100px;
margin-left: 350px;
}
.registeration h1{
    font-size: 1.5em;
    font-family: Times, serif;
    font-weight:100px; 
}
.image1{
    /* border: 2px solid black; */
    height: 400px;
    width: 75%;
    margin-left: 140px;
    margin-top: 40px;
}
.image1 img{
    size: 100%;
}
.card1{
    padding-left:25px;
    
}
.card1 img{
    size: 100%;
    border-radius: 100%;
    padding-right: 2px;
}
.cardtext1{
    margin-top:0px;
    margin-left:24px;
}
.cardtext1, h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bolder;
}
 .cardtext2{
    margin-top: 0px;
    margin-left: 24px;
}
 .cardtext2 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: bolder;
}
.kuda-business{
    /* border: 2px solid black; */
    min-height:400px;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 150px;
}
.kuda-b-text{
    /* border: 2px solid black; */
    height: 155;
    width: 650px;
    margin-top: -62px;
    margin-left: 20px;
}
.kuda-b-text h1{
    font-size: 33px;
    font-weight: bold;
}
.kuda-business2{
    /* border: 2px solid black; */
    height: 100%;
    width: 48%;
    margin-top: 5px;
    margin-left: 80px; 
}
.kuda-business2 img{
    size: 100%;
}
 .account2{
    /* border: 2px solid black; */
    height: 65px;
    width: 55%;
    margin-left: 50px;
    margin-top: 10px;
    background-color: rgb(0,0,0);
    text-align: center;
    border-radius: 10px;
}
.account2 h2{
    text-decoration: white;
    color: white;
    padding-top: 20px;
    font-size: 21px;
    font-weight: 500;
}
.side2{
    /* border: 2px solid black; */
    min-height:400px;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 150px;
}
.side2-text{
    /* border: 2px solid black; */
    height: 155;
    width: 650px;
    margin-top: -62px;
    margin-left: 20px;
}
.side2-text h1{
    font-size: 33px;
    font-weight: bold;
}
.side2-A{
    /* border: 2px solid black; */
    height: 100%;
    width: 48%;
    margin-top: 5px;
    margin-left: 80px; 
}
.kuda-business2 img{
    size: 100%;
}
.account4{
    /* border: 2px solid black; */
    height: 65px;
    width: 55%;
    margin-left: 50px;
    margin-top: 25px;
    background-color: rgb(0,0,0);
    text-align: center;
    border-radius: 10px;
}
.account4 h2{
    text-decoration: white;
    color: white;
    padding-top: 20px;
    font-size: 21px;
    font-weight: 500;
}
.homepage{
    border: 2px solid black;
    height: 800px;
    display: row;
    margin-top: 80px;
    width: 100%;
    background-color: black;
}
.homepage h1{
    color: white;
    margin-left: 350px;
    margin-top: 130px;
    font-size: 2.2em;
}
.homepage-text{
/* border: 2px solid red; */
height: 200px;
width: 100%;
}
.homepage-main{
    /* border: 2px solid red; */
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: row;
    background-color: black;
}
.homepage1{
    /* border: 2px solid blue; */
    width: 45%;
    height: 600px;
    margin-left: 40px;
    border-radius: 15px;
}
.homepage1 img{
    size: 100%;
}

.homepage2{
    /* border: 2px solid blue; */
    width: 45%;
    height: 600px;
    margin-left: 30px;
    border-radius: 15px;
}
.homepage2 img{
    size: 100%;
}
.faqs{
    border: 2px solid black;
    min-height: 400px;
    width: 80%;
    margin-top: 345px;
    margin-left: 45pxb ;
}